web services/day3/WSDLs/WSDL-Document-Literal-wrapped.xml

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.lab1.day1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.lab1.day1/" name="CalculatorImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.lab1.day1/" schemaLocation="http://localhost:9191/calculator/ws/calculator?xsd=1" />
        </xsd:schema>
    </types>
    <message name="add">
        <part name="parameters" element="tns:add" />
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse" />
    </message>
    <message name="sub">
        <part name="parameters" element="tns:sub" />
    </message>
    <message name="subResponse">
        <part name="parameters" element="tns:subResponse" />
    </message>
    <message name="mul">
        <part name="parameters" element="tns:mul" />
    </message>
    <message name="mulResponse">
        <part name="parameters" element="tns:mulResponse" />
    </message>
    <message name="div">
        <part name="parameters" element="tns:div" />
    </message>
    <message name="divResponse">
        <part name="parameters" element="tns:divResponse" />
    </message>
    <portType name="Calculator">
        <operation name="add">
            <input wsam:Action="http://webservice.lab1.day1/Calculator/addRequest" message="tns:add" />
            <output wsam:Action="http://webservice.lab1.day1/Calculator/addResponse" message="tns:addResponse" />
        </operation>
        <operation name="sub">
            <input wsam:Action="http://webservice.lab1.day1/Calculator/subRequest" message="tns:sub" />
            <output wsam:Action="http://webservice.lab1.day1/Calculator/subResponse" message="tns:subResponse" />
        </operation>
        <operation name="mul">
            <input wsam:Action="http://webservice.lab1.day1/Calculator/mulRequest" message="tns:mul" />
            <output wsam:Action="http://webservice.lab1.day1/Calculator/mulResponse" message="tns:mulResponse" />
        </operation>
        <operation name="div">
            <input wsam:Action="http://webservice.lab1.day1/Calculator/divRequest" message="tns:div" />
            <output wsam:Action="http://webservice.lab1.day1/Calculator/divResponse" message="tns:divResponse" />
        </operation>
    </portType>
    <binding name="CalculatorImplPortBinding" type="tns:Calculator">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="add">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="sub">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="mul">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="div">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="CalculatorImplService">
        <port name="CalculatorImplPort" binding="tns:CalculatorImplPortBinding">
            <soap:address location="http://localhost:9191/calculator/ws/calculator" />
        </port>
    </service>
</definitions>